<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc207.GameCentre">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GameCentre"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="fall2018.csc207.GameCentre.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fall2018.csc207.GameCentre.slidingtiles.SlidingTilesGameActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.slidingtiles.SlidingTilesStartingActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.PlayerMenuActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.SignUpActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.GameOptionsActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.slidingtiles.SlidingTilesGameOverActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.PlayerScoreBoardActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.slidingtiles.SlidingTilesScoreBoardActivity"></activity>


        <activity
            android:name=".tictactoe.TicTacToeStartingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".tictactoe.TicTacToeGameActivity"
            android:label="@string/title_activity_afterstart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tictactoe.TicTacToeScoreBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".tictactoe.TicTacToeGameOverActivity"
            android:label="@string/title_activity_afterstart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="fall2018.csc207.GameCentre.perfectpairs.PerfectPairsStartingActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.perfectpairs.PerfectPairsMainActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.perfectpairs.PerfectPairsGameOverActivity"></activity>
        <activity android:name="fall2018.csc207.GameCentre.perfectpairs.PerfectPairsScoreBoardActivity"></activity>
    </application>

</manifest>